@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --secondBackground: #7c8772;
  --shadowColor: #445138;
  --hoverColor: #222b1a;
  --font: Elephant;
}
@font-face {
  font-family: 'Elephant';
  src: url('fonts/ELEPHNT.TTF') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--hoverColor);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


